*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 20px 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    display: flex;
    justify-content: center;
}

.jg-desk {
    background-color: #000;
    padding: 0px 0px 20px 0px;
    width: 100%;
    max-width: 580px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #434343;
}

.jg-mobile {
    display: none;
}

.profile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h1 {
    color: #fff;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes_images {
    filter: invert(100%);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    text-decoration: none;
}

.links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.links a .image {
    width: 395px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #434343;
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
}

.links a .image img {
    width: 395px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.links a .text {
    font-family: 'Orbitron', sans-serif;
    width: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #434343;
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
}

.red {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #000;
    margin: 0;
}
.user {
    color: #fff;
    font-size: 16px;
    text-decoration: underline #000;
    margin: 0;
}

@media (max-width: 450px) {
    body {
        margin: 0;
        padding: 0;
    }
    .jg-desk {
        display: none;
    }
    .jg-mobile {
        display: flex;
        background-color: #000;
        padding: 0px 0px 20px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .links a .image {
        width: 85%;
    }
    .links a .image img {
        width: 100%;
    }
    .links a .text {
        width: 85%;
    }
}